apiVersion: v1
kind: Pod
metadata:
  name: kvstore-api-single
  labels:
    app: kvstore-api-single
spec:
  containers:
    - name: kvstore-api
      image: ikramulhaqueoli/kvstore-api:latest
      imagePullPolicy: Always
      ports:
        - containerPort: 7000
      env:
        - name: ASPNETCORE_URLS
          value: "http://+:7000"
        - name: NODE_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      readinessProbe:
        httpGet:
          path: /health
          port: 7000
        initialDelaySeconds: 5
        periodSeconds: 5
      livenessProbe:
        httpGet:
          path: /health
          port: 7000
        initialDelaySeconds: 5
        periodSeconds: 10